<div>
  <h2 style="text-align: center; padding: 10px">Formulaire de location de véhicule</h2>
  <div class="container">
  <form (ngSubmit)="submitForm()">
    <div>
      <label for="nom">Nom :</label>
      <input type="text" id="nom" name="nom" [(ngModel)]="nom" required>
    </div>
    <div>
      <label for="prenom">Prénom :</label>
      <input type="text" id="prenom" name="prenom" [(ngModel)]="prenom" required>
    </div>
    <div>
      <label for="age">Âge :</label>
      <input type="number" id="age" name="age" [(ngModel)]="age" required>
    </div>
    <div>
      <label for="ville">Ville de location :</label>
      <select id="ville" name="ville" [(ngModel)]="ville" required>
        <option value="Paris">Paris</option>
        <option value="Lyon">Lyon</option>
        <option value="Marseille">Marseille</option>
      </select>
    </div>
    <div>
      <label for="vehicule">Véhicule à louer :</label>
      <select id="vehicule" name="vehicule" [(ngModel)]="vehicule" required>
        <option value="Aston Martin">Aston Martin</option>
        <option value="Bentley">Bentley</option>
        <option value="Cadillac">Cadillac</option>
        <option value="Ferrari">Ferrari</option>
        <option value="Jaguar">Jaguar</option>
      </select>
    </div>
    <div>
      <label for="stripeToken">Token Stripe :</label>
      <input type="text" id="stripeToken" name="stripeToken" [(ngModel)]="stripeToken" required>
    </div>
    <button type="submit">Envoyer</button>
  </form>
    </div>
</div>
